@import '../../../../styles/colors';
@import '../../../../styles/font';
@import '../../../../styles/variables';

.support-requests {
  margin: 0 24px;
  padding: 0;
  box-shadow: 0 3px 11px 0 $shadow-white, 0 3px 3px -2px $shadow-grey, 0 1px 8px 0 $shadow-dark-grey;

  &__header {
    color: $grey;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }
}
.expandContent {
  width: 100%;
  height: 85vh;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}
.expandElements {
  width: 100%;
  height: 90%;
}
.imgdoc-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 65%;
  padding-bottom: 50px;
  figure{
    width: 13%;
    margin: 0;
    padding: 0;
    figcaption{
      color: #014f98;;
      margin-top: 10px;
      font-size: 18px;
    }
  }
}
.image-doc{
  width: 100%;
}


.subtitleP {
  font-size: 20px;
  padding: 10px 10px 0 10px;
}
.h4Iter{
  font-size: 24px;
  margin: 20px 0 0 0;
  padding: 0;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  ----- RESPONSIVE SECTION -----  ////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and(max-width: 1024px) {
  .h4Iter{
    font-size: 18px;
  }
.subtitleP{
  font-size: 14px;
}
}

@media only screen and(max-width: 1210px){
  .imgdoc-container{
    height: 60%;
    figure{
      width: 152px;
    }
  }
}

@media only screen and(max-width: 929px){
  .subtitleP{
    padding-bottom: 0;
  }
  .imgdoc-container{
    height: 100%;
    flex-direction: column;
    figure{
      margin-top: 100px;
    }
  }
}


@media only screen and(max-width: 580px) {
  .subtitleP{
    font-size: 14px;
  }
  .imgdoc-container{
    figure{
      margin-top: 50px;
      width: 120px;
      figcaption{
        font-size: 11px;
      }
    }
  }
}

@media only screen and(max-width: 420px) {
  .h4Iter{
    font-size: 18px;
  }
  .subtitleP {
    font-size: 12px;
    p{
      padding: 0;
      margin: 0;
    }
  }
}

@media only screen and(max-width: 380px) {
  .h4Iter{
    font-size: 18px;
  }
  .subtitleP {
    font-size: 12px;
  }
}

@media only screen and(max-width: 360px) {
  .h4Iter{
    font-size: 18px;
  }
  .subtitleP {
    font-size: 12px;
    padding-bottom: 30px;
  }
}
@media only screen and(max-width: 320px) {
  .subtitleP {
    padding: 15px 15px 70px 15px;
  }
}
@media only screen and(max-width: 280px) {
  .subtitleP {
    padding: 15px 15px 25px 15px;
  }
}
//////////////////////////////////////////RESPONSIVE  HEIGHT////////////////////////////////
@media only screen and(max-height: 823px) {
  .expandContent{
    height: 670px;
  }
}
@media only screen and(max-height: 736px) {
  .expandContent{
    height: 580px;
  }
}
@media only screen and(max-height: 667px) {
  .expandContent{
    height: 500px;
  }
}
@media only screen and(max-height: 568px) {
  .expandContent{
    height: 420px;
  }
}
