<mat-card class="support-requests">
  <mat-card-title class="support-requests__header">
    <section class="expandContent">
      <p class="h4Iter">Identificación Oficial</p>
      <div class="expandElements">
        <p class="subtitleP">¿Qué documentos son validos, como identificación oficial, para que pueda cargar a la app?<br>
          Los documentos aceptados son los siguientes:
        </p>

          <div class="imgdoc-container">
            <figure *ngFor="let folder of folders">
              <img src="{{folder.imgURL}}" class="image-doc">
              <figcaption>{{folder.name}}</figcaption>
            </figure>
          </div>
<!--          <div class="docContainer" *ngIf="innerWidth < 900">-->
<!--            <div>-->
<!--              <ul *ngFor="let folder of folders" type="square">-->
<!--                <li><p>{{folder.name}}</p></li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </div>-->
      </div>
    </section>
  </mat-card-title>
</mat-card>
