@import '../../../../styles/colors';
@import '../../../../styles/font';
@import '../../../../styles/variables';

.support-requests {
  margin: 0 24px;
  padding: 0;
  box-shadow: 0 3px 11px 0 $shadow-white, 0 3px 3px -2px $shadow-grey, 0 1px 8px 0 $shadow-dark-grey;

  &__header {
    color: $grey;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }

  &__title {
    font-size: $fs-medium;
    font-weight: $fw-lighter;
    margin: 0;
    line-height: 40px;
  }
}
.expandContent {
  width: 100%;
  height: 400px;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}
.expandElements {
  margin: 0px 15%;
  height: fit-content;
}
.siniestro {
  margin: 5% 0;
  padding: 10px 0;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 10px 10px 12px -15px rgb(1 79 152 / 75%);
  border-left: solid 1px rgba(1, 79, 152, 0.18);
  border-top: solid 1px rgba(1, 79, 152, 0.05);
  border-bottom: solid 1px rgba(1, 79, 152, 0.1);
}
.tel-info {
  font-size: 15px;
  color: #484749;
}
.tel-number {
  font-weight: bold;
  color: #484749;
}
.imgAndNameAseguradora {
  width: 100%;
  height: auto;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
}
.imgAseguradoraSiniestros {
  width: 200px;
  height: 55px;
}
.h4Iter{
  padding-top: 20px;
  font-size: 22px;
  margin: 0;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  ----- RESPONSIVE SECTION -----  ////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and(max-width: 1024px) {
  .expandElements{
    margin: 0 50px;
  }
  h6{
    font-size: 18px;
    padding: 0 22px;
  }
  .imgAseguradoraSiniestros {
    width: 200px;
    height: 55px;
  }
}
@media only screen and(max-width: 800px) {
  ::-webkit-scrollbar{
    width: 5px;
  }
  .expandElements{
    margin: 0 50px;
  }
  .imgAseguradoraSiniestros {
    width: 200px;
    height: 55px;
  }
}

@media only screen and(max-width: 768px) {
  .expandElements{
    margin: 0 30px;
  }
}
@media only screen and(max-width: 600px) {
  .expandElements {
    margin: 0px 24px;
  }
  .subtitleP2 {
    font-size: 16px;
  }
  h6{
    font-size: 16px;
    padding: 0 20px;
  }
  .imgAseguradoraSiniestros {
    width: 170px;
    height: 45px;
  }
}

@media only screen and(max-width: 580px) {
  ::-webkit-scrollbar{
    width: 4px;
  }
  .h4Iter{
    padding-top: 10px;
    font-size: 18px;
  }
  h6{
    font-size: 14px;
    padding: 0 16px;
  }
  .subtitleP2 {
    font-size: 14px;
    transform: translate(-12px, 0);
  }
  .expandElements {
    margin: 0px 20px;
  }
  .imgAseguradoraSiniestros {
    width: 130px;
    height: 40px;
    transform: translate(-12px, 0);
  }
}
@media only screen and(max-width: 480px) {
  ::-webkit-scrollbar{
    width: 3px;
  }
  .h4Iter{
    font-size: 19px;
  }
  h6{
    font-size: 13px;
    padding: 0 12px;
  }
  .expandElements {
    margin: 0px 15px;
  }
}
@media only screen and(max-width: 414px) {
  .h4Iter{
    font-size: 18px;
  }
  h6{
    font-size: 12px;
  }
  .subtitleP2 {
    font-size: 12px;
  }
  .expandElements {
    margin: 0px 10px;
  }
  .imgAseguradoraSiniestros {
    height: 35px;
  }
}
@media only screen and(max-width: 360px) {
  .subtitleP2 {
    font-size: 10px;
  }
  .expandElements {
    margin: 0px 5px;
  }
  .imgAseguradoraSiniestros {
    height: 30px;
  }
}
@media only screen and(max-width: 320px) {
  .imgAseguradoraSiniestros {
    width: 120px;
    height: 30px;
  }
}
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////RESPONSIVE HEIGHT////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media only screen and(max-height: 1366px){
  .expandContent{
    height: 1240px;
  }
}
@media only screen and(max-height: 1280px){
  .expandContent{
    height: 1150px;
  }
}
@media only screen and(max-height: 1024px){
  .expandContent{
    height: 900px;
  }
}
@media only screen and(max-height: 960px){
  .expandContent{
    height: 834px;
  }
}
@media only screen and(max-height: 854px){
  .expandContent{
    height: 730px;
  }
}
@media only screen and(max-height: 823px){
  .expandContent{
    height: 696px;
  }
}
@media only screen and(max-height: 812px){
  .expandContent{
    height: 675px;
  }
}
@media only screen and(max-height: 736px){
  .expandContent{
    height: 608px;
  }
}
@media only screen and(max-height: 720px){
  .expandContent{
    height: 594px;
  }
}
@media only screen and(max-height: 667px){
  .expandContent{
    height: 530px;
  }
}
@media only screen and(max-height: 640px){
  .expandContent{
    height: 508px;
  }
}
@media only screen and(max-height: 600px){
  .expandContent{
    height: 475px;
  }
}
@media only screen and(max-height: 568px){
  .expandContent{
    height: 444px;
  }
}
@media only screen and(max-height: 540px){
  .expandContent{
    height: 408px;
  }
}
@media only screen and(max-height: 480px){
  .expandContent{
    height: 360px;
  }
}
@media only screen and(max-height: 414px){
  .expandContent{
    height: 290px;
  }
}
@media only screen and(max-height: 384px){
  .expandContent{
    height: 255px;
  }
}
@media only screen and(max-height: 360px){
  .expandContent{
    height: 240px;
  }
}
@media only screen and(max-height: 320px){
  .expandContent{
    height: 200px;
  }
}
@media only screen and(max-height: 280px){
  .expandContent{
    height: 160px;
  }
}
