<mat-card class="support-requests">
  <mat-card-title class="support-requests__header">
    <section class="expandContent">
      <h4 class="h4Iter">En caso de siniestro</h4>
      <h6><p style="font-weight: bold; color: red;margin: 0;">* </p>
      Llame al número correspondiente a su aseguradora el cual 
      se encuentra al costado derecho de las casillas.</h6>
      <div class="expandElements">
        <div class="siniestro" *ngFor="let poliza of aseguradoras">
          <div class="imgAndNameAseguradora">
            <img src="{{poliza.url}}" class="imgAseguradoraSiniestros" alt="">
            <div
            class="tel-number subtitleP2">
              <a
              style="color: #014f98;"
              href="tel: {{poliza.tel}}">{{poliza.tel}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </mat-card-title>
</mat-card>
