@import 'src/app/styles/colors';
@import 'src/app/styles/font';
@import 'src/app/styles/variables';

.support-requests {
  margin: 0 24px;
  padding: 0;
  box-shadow: 0 3px 11px 0 $shadow-white, 0 3px 3px -2px $shadow-grey, 0 1px 8px 0 $shadow-dark-grey;

  &__header {
    color: $grey;
    display: flex;
    justify-content: space-between;
    padding: 24px 24px 8px;
    margin-bottom: 0;
  }

  &__title {
    font-size: $fs-medium;
    font-weight: $fw-lighter;
    margin: 0;
    line-height: 40px;
  }

  &__content {
    height: 427px;
    overflow-y: hidden;
    overflow-x: scroll;

    @media (max-width: $small) {
      height: auto;
    }
  }

  &__table {
    width: 100%;
  }

  &__table-row {
    height: 64px;
  }

  &__table-row-title {
    color: $dark-grey;
    font-size: $fs-small;
    font-weight: $fw-lighter;
    line-height: 24px;
    text-transform: uppercase;
    padding: 18.4px;
  }

  &__table-content {
    color: $dark-grey;
    font-size: $fs-small;
    padding: 20px;
  }

  &__content-badge {
    width: fit-content;
    border-radius: 32px;
    color: $white;
    text-align: center;
    padding: 5px 10px;
    font-size: 13px;
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: $fw-lighter;
    line-height: 1.75;
    letter-spacing: 0.45px;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}

mat-menu {
  position: absolute;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.expandContent {
  width: 100%;
  height: 400px;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.expandElements {
  width: 100%;
  height: 90%;
}

.h4Iter {
  visibility: visible;
}

.text1 {
  text-align: left;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  ----- RESPONSIVE SECTION -----  ////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media only screen and(max-width: 1024px) {
  .support-requests__header{
    padding: 0 8px 10px 8px;
  }
  .text1{
    margin: 12px 20px 0 24px;
  }
}
@media only screen and(max-width: 540px) {
  .support-requests__header{
    padding: 0 5px 10px 5px;
  }
  .text1{
    margin: 12px 20px 0 24px;
  }
}
@media only screen and(max-width: 420px) {
  .support-requests__header{
    padding: 0 0 10px 0;
  }

  .text1{
    margin: 24px 24px 0 24px;
  }
}

@media only screen and(max-width: 384px) {
  .text1 h6{
    margin: 0 4px 0 4px;
    font-size: 16px;
  }
}
@media only screen and(max-width: 375px) {
  .text1 h6{
    margin: 0 4px 0 4px;
    font-size: 16px;
  }
  ::-webkit-scrollbar{
    width: 4px;
  }
}

@media only screen and(max-width: 360px) {
  .text1 h6{
    margin: 0 4px 0 4px;
    font-size: 16px;
  }
}
@media only screen and(max-width: 320px) {
  .text1 h6{
    margin: 0 10px 0 18px;
    font-size: 12px;
  }
}
@media only screen and(max-width: 280px){
  .text1 h6{
    margin: 0;
  }
}

//// responsive heigth //////

@media only screen and(max-height: 1024px){
  .expandContent{
    height: 85vh;
  }
}
@media only screen and(max-height: 830px){
  .expandContent{
    height: 82vh;
  }
}
@media only screen and(max-height: 768px){
  .expandContent{
    height: 80vh;
  }
}
@media only screen and(max-height: 667px){
  .expandContent{
    height: 78vh;
  }
}
@media only screen and(max-height: 568px){
  .expandContent{
    height: 75vh;
  }
}
@media only screen and(max-height: 414px) {
  .expandContent {
    height: 67vh;
  }
}
@media only screen and(max-height: 384px){
  .expandContent{
    height: 63vh;
  }
}
@media only screen and(max-height: 320px){
  .expandContent{
    height: 58vh;
  }
}
@media only screen and(max-height: 280px){
  .expandContent{
    height: 55vh;
  }
}
