<mat-card class="support-requests">
  <mat-card-title class="support-requests__header">
    <section class="expandContent">
      <h4 class="h4Iter">Cancelar una Póliza</h4>
      <div class="expandElements">
        <p class="subtitleP">Para cancelar una póliza es necesario que llame al:  <a style="color: #6E6E6E;font-weight: bold" href="tel: 5536024275">55 3602 4275</a>
          y seleccione la <b>opción 5</b>
          una vez enlazada la llamada con gusto le atenderemos.
        </p>
        <img src="assets/img/cancelar_poliza.svg">
      </div>
    </section>
  </mat-card-title>
</mat-card>
