@import 'src/app/styles/colors';
@import 'src/app/styles/font';
@import 'src/app/styles/variables';

.support-requests {
  margin: 0 24px;
  padding: 0;
  box-shadow: 0 3px 11px 0 $shadow-white, 0 3px 3px -2px $shadow-grey, 0 1px 8px 0 $shadow-dark-grey;

  &__header {
    color: $grey;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }
}
mat-menu {
  position: absolute;
}
.expandContent {
  width: 100%;
  height: 70vh;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}
.expandElements {
  width: 100%;
  height: 90%;
}
.h4Iter {
  padding-top: 20px;
  margin: 0;
  font-size: 24px;
}
.h4bold{
  margin: 0;
  text-align: left;
  padding-left: 20px;
}
.h4bold b{
  font-size: 20px;
}
.text1 {
  text-align: left;
  padding: 10px 30px 0 20px;
}
p{
  font-size: 16px;
}
.safesLogos {
  width: 100%;
  height: auto;
  padding: 20px 0 10px 0;
  display: inline-block;
}
.safesCards {
  width: 90%;
  margin: 0 3% 10px;
  min-height: 120px;
  height: auto;
  padding: 5px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.Img{
  display: inline-flex;
  justify-content: left;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}
.ajuste{
  display: inline-flex;
  justify-content: left;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}
.imgAseguradoraInstruccionesDePago {
  width: 180px;
  height: 50px;
  cursor: pointer;
  transition: all linear 0.2s;
  opacity: 1;
}
.imgAseguradoraInstruccionesDePago:hover {
  opacity: 0.5;
}
.dataNotas {
  text-align: left;
  margin-left: 10px;
  width: 80%;
  display: inline-flex;
  justify-content: left;
}
.notasText {
  font-size: 18px;
  margin: 0;
  color: #000000;
  padding: 0;
}
.circle-wrapper {
  width: 16%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.circle{
  border-radius: 50%;
  max-height: 45px;
  max-width: 45px;
  min-height: 45px;
  min-width: 45px;
  width: 45px;
  height: 45px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  margin: 0;
}
.contentPs {
  color: #ffffff;
  margin: 0;
}
.weightX {
  font-weight: 800;
  font-size: 1.3rem;
}
.palomita {
  font-size: 3rem;
  transform: rotate(
      135deg
  );
}
.haveDocument {
  background-color: #74cd5c;
}
.noDocument {
  background-color: #ff6161;
}
.showText {
  display: none;
}
.unActiveAnimationContainer {
  width: 100%;
  height: 100px;
}
.header2 {
  position:relative;
  text-align:center;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, #014f98 40%, #014f98 60%, rgba(255,255,255,1) 100%);
  color:white;
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}
.inner-header {
  height: 100px;
  width:100%;
  margin: 0;
  padding: 0;
}
.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.waves {
  position:relative;
  height: 100px;
  width: 100%;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}
.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}
.viewerContainer {
  width: 100%;
  margin: 2% 2% 2% 2%;
  min-height: 100px;
  overflow: hidden;
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  ----- RESPONSIVE SECTION -----  ////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and(max-width: 768px) {
  .circle {
    max-height: 40px;
    max-width: 40px;
    min-height: 40px;
    min-width: 40px;
    width: 40px;
    height: 40px;
  }
}
@media only screen and(max-width: 600px) {
  .imgAseguradoraInstruccionesDePago {
    width: 140px;
    height: 40px;
  }
  .safesCards {
    min-height: 90px;
  }
  .circle {
    max-height: 30px;
    max-width: 30px;
    min-height: 30px;
    min-width: 30px;
    width: 30px;
    height: 30px;
  }
  .notasText {
    font-size: 14px;
  }
}
@media only screen and(max-width: 580px) {
  .unActiveAnimationContainer {
    height: 60px;
  }
  .imgAseguradoraInstruccionesDePago {
    width: 100px;
    height: 50px;
  }
  .safesCards {
    min-height: 50px;
  }
  .notasText{
    font-size: 12px;
  }
  .circle {
    max-height: 20px;
    max-width: 20px;
    min-height: 20px;
    min-width: 20px;
    width: 20px;
    height: 20px;
  }
  .palomita {
    font-size: 1.5rem;
  }
  .weightX {
    font-weight: 800;
    font-size: 0.7rem;
  }
  .h4Iter {
    font-size: 22px;
  }
  .h4bold b {
    font-size: 18px;
    padding-left: 6px;
  }
  .note {
    font-size: 15px;
  }
  p{
    font-size: 14px;
  }
  .text1{
    padding: 10px 15px 0 26px;
  }
}
@media only screen and(max-width: 420px) {
  .notasText {
    font-size: 10px;
  }
  .palomita {
    font-size: 1rem;
  }
  .weightX {
    font-size: 0.6rem;
  }
  .h4Iter {
    font-size: 21px;
  }
  .h4bold b {
    font-size: 17px;
    padding-left: 8px;
  }
  p{
    font-size: 13px;
  }
}
@media only screen and(max-width: 384px) {
  .h4Iter {
    font-size: 20px;
  }
  .note {
    font-size: 14px;
  }
  p{
    font-size: 12px;
  }
}
@media only screen and(max-width: 320px) {
  .text1{
    padding: 10px 25px 0 30px;
  }
  .h4bold b{
    font-size: 16px;
  }
}
@media only screen and(max-width: 280px){
  .h4Iter{
    font-size: 18px;
    padding-top: 10px;
  }
  .h4bold{
    padding-left: 11px;
  }
  .text1{
    padding: 10px 10px 0 11px;
  }
  .notasText {
    font-size: 7px;
  }
}
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////RESPONSIVE HEIGHT////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media only screen and(max-height: 1366px){
  .expandContent{
    height: 1240px;
  }
}
@media only screen and(max-height: 1280px){
  .expandContent{
    height: 1150px;
  }
}
@media only screen and(max-height: 1024px){
  .expandContent{
    height: 900px;
  }
}
@media only screen and(max-height: 960px){
  .expandContent{
    height: 834px;
  }
}
@media only screen and(max-height: 854px){
  .expandContent{
    height: 730px;
  }
}
@media only screen and(max-height: 823px){
  .expandContent{
    height: 696px;
  }
}
@media only screen and(max-height: 812px){
  .expandContent{
    height: 675px;
  }
}
@media only screen and(max-height: 736px){
  .expandContent{
    height: 608px;
  }
}
@media only screen and(max-height: 720px){
  .expandContent{
    height: 594px;
  }
}
@media only screen and(max-height: 667px){
  .expandContent{
    height: 530px;
  }
}
@media only screen and(max-height: 640px){
  .expandContent{
    height: 508px;
  }
}
@media only screen and(max-height: 600px){
  .expandContent{
    height: 475px;
  }
}
@media only screen and(max-height: 568px){
  .expandContent{
    height: 444px;
  }
}
@media only screen and(max-height: 540px){
  .expandContent{
    height: 408px;
  }
}
@media only screen and(max-height: 480px){
  .expandContent{
    height: 360px;
  }
}
@media only screen and(max-height: 414px){
  .expandContent{
    height: 290px;
  }
}
@media only screen and(max-height: 384px){
  .expandContent{
    height: 255px;
  }
}
@media only screen and(max-height: 360px){
  .expandContent{
    height: 240px;
  }
}
@media only screen and(max-height: 320px){
  .expandContent{
    height: 200px;
  }
}
@media only screen and(max-height: 280px){
  .expandContent{
    height: 160px;
  }
}