<mat-card class="support-requests">
  <mat-card-title class="support-requests__header">
    <section class="expandContent">
      <h4 class="h4Iter">Instrucciones de pago</h4>
      <div class="expandElements">
        <div class="text1">
          <p>
            Estimado asegurado a continuación se muestran las opciones para el pago de su póliza, le pedimos seleccionar
            su aseguradora y ubicar la cuenta concentradora del banco de su elección.<br><br>
            Una vez concluido el pago, le pedimos por favor enviar el comprobante de pago legible a la siguiente clave de
            correo junto con el número de su póliza;
            <b style="color: #4d8cff;">asistenciapagos@ahorraseguros.mx</b><br><br>
            Si desea asesoría en relación a cómo realizar la operación, por favor comuniquese al <a style="color: #6E6E6E;font-weight: bold" href="tel: 5536024275">5536024275</a> opción 2
            donde con gusto le atenderemos.
          </p>
        </div>
        <br>

        <h4 class="h4bold"><b>Selecciona tu Aseguradora</b></h4>
        <div class="text1">
          <p class="note">Nota 1: Al seleccionar la aseguradora deberá salir la siguiente leyenda.</p>
          <p><i>Recuerda compartirnos tu comprobante de pago</i></p>

          <br>

          <p class="note">Nota 2: Al seleccionar la aseguradora que no tiene cuenta concentradora se abre el siguiente
            mensaje.</p>
          <p><i>Lo sentimos, la aseguradora está en proceso de renovar las cuentas por favor comunicate con
            nosotros</i></p>
        </div>
        <br>

        <section class="safesLogos">
          <mat-card class="safesCards" *ngFor="let insure of insurersGroupCollection; let i = index">
            <div class="Img" *ngIf="insure.active">
              <div class="ajuste" *ngIf="insure.active">
                <img src="{{insure.urlIMG}}" alt="Insurancers Graph Img" class="imgAseguradoraInstruccionesDePago"
                     (click)="showContent(i)">
                <br><br>
                <div id="notasShow" class="dataNotas" *ngIf="insure.active">
                  <p class="notasText" *ngIf="insure.documento">
                    {{insure.nota1}}
                  </p>
                  <p class="notasText" *ngIf="!insure.documento">
                    {{insure.nota2}}
                  </p>
                </div>

                <div class="circle-wrapper" *ngIf="insure.documento && insure.active">
                  <div matTooltip="{{insure.id}} cuenta con Documento" class="circle haveDocument">
                    <p class="palomita contentPs">¬</p>
                  </div>
                </div>

                <div class="circle-wrapper" *ngIf="!insure.documento && insure.active">
                  <div matTooltip="{{insure.id}} no cuenta con Documento" class="circle noDocument" >
                    <p class="contentPs weightX">X</p>
                  </div>
                </div>
              </div>

              <section class="viewerContainer" *ngIf="insure.active && insure.documento">
                <pdf-viewer [src]="insure.documento" style="height: 100%; overflow: scroll; margin-top: 170px"
                            [autoresize]="true"
                            [original-size]="false"
                ></pdf-viewer>
              </section>
            </div>
            <img src="{{insure.urlIMG}}" alt="Insurancers Graph Img" class="imgAseguradoraInstruccionesDePago"
                 (click)="showContent(i)" *ngIf="!insure.active">
            <br><br>

            <div class="unActiveAnimationContainer" *ngIf="!insure.active">
              <div class="header2">
                <!--Waves Container-->
                <div>
                  <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                       viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                    <defs>
                      <path id="gentle-wave"
                            d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"/>
                    </defs>
                    <g class="parallax">
                      <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7"/>
                      <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)"/>
                      <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)"/>
                      <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff"/>
                    </g>
                  </svg>
                </div>
              </div>
            </div>
          </mat-card>
        </section>

        <!--        <h4>Si tienes alguna duda haz click en el siguiente ícono</h4>-->
        <!--        <mat-icon> contact_phone</mat-icon>-->
      </div>
    </section>
  </mat-card-title>
</mat-card>
