@import 'src/app/styles/colors';
@import 'src/app/styles/font';
@import 'src/app/styles/variables';

.user-button {
  background-color: #014f98;
  box-shadow: none;
  margin-right: 15px;

  &__icon {
    color: #ffffff;
  }

  &:hover {
    background-color: $blue;
  }

  @media (max-width: $small) {
    margin-top: 0;
  }
}

.user-menu-title {
  padding: 16px 48px 0 16px;
  margin-bottom: 4px;

  &__name {
    margin-bottom: 4px;
    font-weight: $fw-lighter;
    font-size: $fs-large;
    color: $dark-grey;
  }

  &__link {
    color: $blue;
    font-weight: $fw-lighter;
    font-size: $fs-small;
    text-decoration: none;
  }
}

.user-menu-icon {
  color: $light-grey;
  margin-right: 16px;
  opacity: .8;
}

.sign-button-wrapper {
  padding: 8px 0px 5px 15px;
}

.sign-button {
  border-bottom: 4px solid;
  color: #014f98;
  width: 146px;
  height: 40px;
  margin-bottom: 10px;
  text-align: left;
  padding: 0;
  p{
    margin: 0;
    transition: 0.4s;
    transform: translate(0,0);
  }
}
.sign-button:hover{
  transition: 0.8s;
  border-color:#014f98a6;
  p{
    transform: translate(15px, 0);
    color: #014f98a6;
  }
}
.sign-button.active{
  border-color:#014f98a6;
  p{
    transform: translate(15px, 0);
    color: #014f98a6;
  }
}

.user-menu {
  &__item-title {
    color: $light-grey;

    &:hover {
      color: $dark-grey;
      background-color: $blue-white;

      & .user-menu-icon {
        color: #536DFE;
      }
    }
  }
}
