<button class="user-button" mat-mini-fab [matMenuTriggerFor]="userMenu">
  <mat-icon class="user-button__icon">person</mat-icon>
</button>
<mat-menu #userMenu="matMenu" xPosition="before">
  <div class="user-menu-title">
    <h6>{{nombreCliente | titlecase}}</h6>
  </div>
  <div class="sign-button-wrapper">
    <button class="sign-button" mat-flat-button routerLink="{{routes.DATOS_PERSONALES}}" routerLinkActive="active"><p>Mis Datos</p></button>
    <button class="sign-button" mat-flat-button routerLink="{{routes.CAMBIAR_CONTRASENA}}" routerLinkActive="active"><p>Cambiar Contraseña</p></button>
    <button class="sign-button" mat-flat-button (click)="signOutEmit()"><p>Cerrar sesión</p></button>
  </div>
</mat-menu>
