<mat-card class="support-requests">

  <mat-card-content class="support-requests__content">
    <section class="expandContent">
      <div class="expandElements">
        <figure>
          <div>
          <img src="assets/img/workinprogress.svg" style="width: 70%">
          <figcaption>Estamos trabajando en las caracteristicas de esta sección, agradecemos su paciencia</figcaption>
          </div>
        </figure>
      </div>
    </section>
  </mat-card-content>
</mat-card>















<!--<mat-card class="support-requests">-->

<!--  <mat-card-content class="support-requests__content">-->
<!--    <div class="backArrow">-->
<!--      <a routerLink="/polizas">-->
<!--        <span class="material-icons back-arrow">keyboard_return</span>-->
<!--      </a>-->
<!--    </div>-->
<!--    &lt;!&ndash;   -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;   &ndash;&gt;-->
<!--    <div class="main custom-margin-TOP">-->
<!--      <div class="options custom-margin-TOP">-->
<!--        <div id="div1" class="option" (click)="loadData(1)">Instrucciones de Pago</div>-->
<!--        <div id="div2" class="option" (click)="loadData(2)">Catálogo de Facturación</div>-->
<!--        <div id="div3" class="option" (click)="loadData(3)">Identificación Oficial</div>-->
<!--        <div id="div4" class="option" (click)="loadData(4)">Inspección Vehicular</div>-->
<!--        <div id="div5" class="option" (click)="loadData(5)">Aclaración y Sugerencias</div>-->
<!--        <div id="div6" class="option" (click)="loadData(6)">Cancelar una Póliza</div>-->
<!--        <div id="div7" class="option" (click)="loadData(7)">Modificar Póliza existente</div>-->
<!--        <div id="div8" class="option" (click)="loadData(8)">En caso de siniestro</div>-->
<!--      </div>-->

<!--      <div class="container custom-margin-TOP">-->
<!--        <div class="content">-->
<!--          <h3>{{title}}</h3>-->
<!--          <div [ngSwitch]="option">-->
<!--            <div *ngSwitchCase="1">-->
<!--              <h6>Sin datos</h6>-->
<!--            </div>-->
<!--            <div *ngSwitchCase="2">-->
<!--              <h6>Sin datos</h6>-->
<!--            </div>-->
<!--            <div *ngSwitchCase="3">-->
<!--              <h5>¿Qué documentos son válidos para que pueda caragar la app?</h5>-->
<!--              <h6>Los documentos válidos como identificación ofificial son:</h6>-->
<!--              <mat-list>-->
<!--                <div mat-subheader>Documentos</div>-->
<!--                <div class="docContainer">-->

<!--                  <div class="docs">-->
<!--                    <div class="ine bg-img-properties"></div>-->
<!--                    <div class="pasaporte bg-img-properties"></div>-->
<!--                    <div class="cedula bg-img-properties"></div>-->
<!--                  </div>-->

<!--                  <div class="itemsFlex">-->
<!--                    <mat-list-item *ngFor="let folder of folders">-->
<!--                      <div mat-line>{{folder.name}}</div>-->
<!--                    </mat-list-item>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </mat-list>-->

<!--            </div>-->
<!--            <div *ngSwitchCase="4">-->
<!--              <h5>Se redireccionará a Atención a Clientes</h5>-->
<!--              <h6><b>Opción 6</b></h6>-->
<!--              <h6>-->
<!--                <a href="tel: 5536024275">55 3602 4275</a>-->
<!--              </h6>-->
<!--              <br>-->
<!--              <div class="infoInspeccion">-->
<!--                <p class="blue">¡Ayúdanos a concretar tu inspección vehicular!</p>-->
<!--                <p class="blue">¿Qué es una inspección vehicular?</p>-->
<!--                Es un requisito <b>imprescindible</b> para la contratación de tu seguro de auto, este proceso valida el estatus general de tu unidad con el fin de garantizar la protección del mismo durante la vigencia de la póliza y así poder brindarte un mejor servicio en caso de tener algún tipo de siniestro.-->
<!--                <p class="blue">¿Cómo lo hago?</p>-->
<!--                <p>-->
<!--                  1- Valida que hayas recibido un mensaje vía <b>SMS</b> y <b>correo electrónico</b> con la liga de inspección vehicular, en caso de no ser así, comunícate con nosotros: al <b>5536024275  opción 6.</b>-->
<!--                  <br>-->
<!--                  <br>-->
<!--                  2- Sigue los siguientes pasos:-->
<!--                </p>-->
<!--                <img width="370" height="300" src="../../../../assets/img/gif-image.gif" alt="IMAGEN TIPO GIF" />-->
<!--                <p><b>Recuerda</b> concluir el proceso dentro de los primeros <b style="color: red">5 días naturales</b> después de haber recibido la liga de inspección vehicular, <b>evita contratiempos.</b></p>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div *ngSwitchCase="5">-->
<!--              <h5>Si tiene alguna aclaración o sugerencia con relación a tu póliza marca:</h5>-->
<!--              <h6>-->
<!--                <a href="tel: 5588902464">55 8890 2464</a>-->
<!--              </h6>-->
<!--            </div>-->
<!--            <div *ngSwitchCase="6">-->
<!--              <h5>Se puede redireccionar al telefono</h5>-->
<!--              <h6><b>Opción 5</b></h6>-->
<!--              <h6>-->
<!--                <a href="tel: 5536024275">55 3602 4275</a>-->
<!--              </h6>-->
<!--            </div>-->
<!--            <div *ngSwitchCase="7"></div>-->
<!--            <div *ngSwitchCase="8" style="margin: 0 0 50px 0">-->
<!--              <div class="siniestro" *ngFor="let poliza of aseguradoras">-->
<!--                <div class="p-card">-->
<!--                  <img src="{{poliza.url}}" alt="" width="30%" height="50%">-->
<!--                  <div class="" style="font-weight: bold; color: #7f7f7f">{{poliza.id}}</div>-->
<!--                  <div></div>-->
<!--                </div>-->
<!--                <div class="tel-info">{{poliza.telOption}}</div>-->
<!--                <div class="tel-number"><a href="tel: {{poliza.tel}}">{{poliza.tel}}</a></div>-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash;        <div *ngSwitchDefault>...def</div>&ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    &lt;!&ndash;   -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;   &ndash;&gt;-->
<!--  </mat-card-content>-->
<!--</mat-card>-->
