<mat-list>
  <!--  PÓLIZAS-->
  <mat-list-item routerLink="{{routes.POLIZAS}}" routerLinkActive="active">
  <mat-icon>health_and_safety</mat-icon>
      Mis pólizas

  </mat-list-item>

  <!--  SOLICITUDES-->
  <mat-list-item routerLink="{{routes.SOLICITUDES}}" routerLinkActive="active">
    <mat-icon>read_more</mat-icon>
    Mis solicitudes
  </mat-list-item>



  <!--  IDENTIFICACIÓN OFICIAL-->
  <mat-list-item routerLink="{{routes.IDENTIFICACION_OFICIAL}}" routerLinkActive="active">
    <mat-icon>fingerprint</mat-icon>
    Identificacion Oficial
  </mat-list-item>

  <!--  INSPECCIÓN VEHICULAR-->
  <mat-list-item routerLink="{{routes.INSPECCION_VEHICULAR}}" routerLinkActive="active">
    <mat-icon>car_repair</mat-icon>
    Inspección Vehicular
  </mat-list-item>

  <!--  EN CASO DE SINIESTROS-->
  <mat-list-item routerLink="{{routes.EN_CASO_DE_SINIESTRO}}" routerLinkActive="active">
    <mat-icon>personal_injury</mat-icon>
    En caso de Siniestro
  </mat-list-item>
  <!--  DESPLEGABLE-->
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>contact_phone</mat-icon>
          Atención a Clientes
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!--      INSTRUCCIONES DE PAGO-->
      <mat-list-item routerLink="{{routes.INSTRUCCIONES_DE_PAGO}}" routerLinkActive="active">
        <mat-icon>price_check</mat-icon>
        Instrucciones de Pago
      </mat-list-item>

      <!--      CATÁLOGO DE FACTURACIÓN-->
      <mat-list-item routerLink="{{routes.CATALOGO_DE_FACTURACION}}" routerLinkActive="active">
        <mat-icon>table_view</mat-icon>
        Catálogo de Facturación
      </mat-list-item>

      <!--      CONDICIONES GENERALES-->
      <mat-list-item routerLink="{{routes.CONDICIONES_GENERALES}}" routerLinkActive="active">
        <mat-icon>rule</mat-icon>
        Condiciones Generales
      </mat-list-item>

       <!--      SOLICITAR MODIFICACIONES-->
      <mat-list-item routerLink="{{routes.SOLICITAR_MODIFICACIONES}}" routerLinkActive="active">
        <mat-icon>edit_note</mat-icon>
        Modificar Poliza
      </mat-list-item>

      <!--      ACLARACIÓN Y SUGERENCIAS-->
      <mat-list-item routerLink="{{routes.ACLARACION_Y_SUGERENCIAS}}" routerLinkActive="active">
        <mat-icon>contact_support</mat-icon>
        Aclaración y Sugerencias
      </mat-list-item>

      <!--      CANCELAR UNA PÓLIZA-->
      <mat-list-item routerLink="{{routes.CANCELAR_UNA_POLIZA}}" routerLinkActive="active">
        <mat-icon>cancel</mat-icon>
        Cancelar una Poliza
      </mat-list-item>
    </mat-expansion-panel>
  </mat-accordion>

<!-- DESPLEGABLE USUARIO -->
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>manage_accounts</mat-icon>
          Mi Cuenta
        </mat-panel-title>
      </mat-expansion-panel-header>
  <!--  DATOS PERSONALES-->
  <mat-list-item routerLink="{{routes.DATOS_PERSONALES}}" routerLinkActive="active">
    <mat-icon>person</mat-icon>
    Datos
  </mat-list-item>

  <!-- Cambiar Contraseña-->
  <mat-list-item routerLink="{{routes.CAMBIAR_CONTRASENA}}" routerLinkActive="active">
    <mat-icon>password</mat-icon>
    Cambiar Contraseña
  </mat-list-item>

  <!-- Cerrar Seción-->
  <mat-list-item (click)="signOut()">
    <mat-icon>person_off</mat-icon>
    Cerrar Sesión
  </mat-list-item>
    </mat-expansion-panel>
  </mat-accordion>
</mat-list>
