@import "src/app/styles/colors";
@import "src/app/styles/font";
@import "src/app/styles/variables";

.mat-list-base {
  border-bottom: 1px solid $gray-80;
  width: $sidebar-width;
  padding-bottom: 16px;
  background-color: #014f98;

  & .mat-list-item {
    display: flex;
    cursor: pointer;
    color: #f5e83c;
    width: auto;

    &.active {
      color: white;
      background-color: $sidebar-background-color-active;
      outline: none;

      & .mat-icon {
        color: white;
      }

      & .circle {
        background-color: #014f98;
      }
    }

    &:hover {
      background-color: $sidebar-background-color-hover;
    }

    &:focus {
      outline: none;
    }
  }
}

.mat-icon {
  margin-right: 15px;
  color: white;
}


.sidebar-title {
  color: $sidebar-title-color;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 32px;
  margin-left: 24px;
  margin-bottom: 16px;
}

.mat-list-base .mat-list-item.ui-element {
  padding-left: 40px;
}

.circle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: $sidebar-circle-color;
  margin-right: 30px;
}

.project-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 15px;
  margin-left: 8px;

  &_yellow {
    background-color: $yellow;
  }

  &_blue {
    background-color: $blue;
  }

  &_pink {
    background-color: $pink;
  }
  .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
}

