@import '../../../../styles/colors';
@import '../../../../styles/font';
@import '../../../../styles/variables';

.support-requests {
  margin: 0 24px;
  padding: 0;
  box-shadow: 0 3px 11px 0 $shadow-white, 0 3px 3px -2px $shadow-grey, 0 1px 8px 0 $shadow-dark-grey;

  &__header {
    color: $grey;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }
}
.expandContent {
  margin-top: 20px;
  width: 100%;
  height: 85vh;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}
.expandElements {
  width: 90%;
  height: fit-content;
  overflow: hidden;
  padding: 0 0 0 29px;
}

.subtitleP {
  font-size: 22px;
}

img{
  width: 430px;
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  ----- RESPONSIVE SECTION -----  ////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and(max-width: 1080px) {
img{
  width: 450px;
}
  .subtitleP {
    font-size: 18px;
  }
}

@media only screen and(max-width: 650px) {
  img{
    width: 440px;
  }
}

@media only screen and(max-width: 580px) {
  .h4Iter {
    font-size: 18px;
  }
  .subtitleP {
    font-size: 14px;
  }
  img{
    width: 370px;
  }
  .expandElements {
    padding: 0 0 0 20px;
  }
}

@media only screen and(max-width: 500px) {
  .h4Iter {
    font-size: 16px;
  }
  .subtitleP {
    font-size: 12px;
  }
  img{
    width: 320px;
  }
  .expandElements {
    padding: 0 0 0 11px;
  }
}
@media only screen and(max-width: 450px) {
  .h4Iter {
    font-size: 16px;
  }
  .subtitleP {
    font-size: 12px;
  }
  img{
    width: 280px;
  }
  .expandElements {
    padding: 0 0 0 11px;
  }
}

@media only screen and(max-width: 400px) {
  img{
    width: 240px;
  }
}

@media only screen and(max-width: 360px) {
  img{
    width: 220px;
  }
}

@media only screen and(max-width: 340px) {
  img{
    width: 150px;
  }
}
//////////////////////////////////////////RESPONSIVE  HEIGHT////////////////////////////////
@media only screen and(max-height: 823px) {
  .expandContent{
    height: 670px;
  }
}
@media only screen and(max-height: 736px) {
  .expandContent{
    height: 580px;
  }
}
@media only screen and(max-height: 653px) {
  .expandContent{
    height: 500px;
  }
}
@media only screen and(max-height: 568px) {
  .expandContent{
    height: 420px;
  }
}
