<mat-card class="support-requests">
  <mat-card-title class="support-requests__header">
    <section class="expandContent">
      <h4 class="h4Iter">Aclaración y Sugerencias</h4>
      <div class="expandElements">
        <figure>
          <div>
            <img src="assets/img/aclaracion.svg">
          </div>
        </figure>
        <p class="subtitleP">Si necesita alguna aclaración o tiene sugerencias con relación a su póliza llame al:<br>
          <a style="color: #014f98;font-weight: bold;" href="tel: 5588902464">55 8890 2464</a> opción 7 <br>
          <!--          ó platique con nosotros,-->
          le pedimos por favor tener a la mano el número de su póliza
        </p>
      </div>
    </section>
  </mat-card-title>
</mat-card>
