<app-layout>
<!--  -----------------------   -->
  <mat-card class="support-requests">
    <div class="backArrow">
      <a routerLink="/polizas">
        REGRESAR
      </a>
    </div>

    <mat-card-content class="support-requests__content">
      <div class="buttonContainer">
        <span class="material-icons downloadButonIcon" (click)="getPoliza()">sim_card_download</span>
      </div>
      <!----------------------------->
      <pdf-viewer [src]="urlPDF" style="width: 70% !important; overflow: hidden; margin-top: 170px!important;"
                  [autoresize]="true"
                  [original-size]="false"
      ></pdf-viewer>
      <!----------------------------->
    </mat-card-content>
  </mat-card>
<!--  -----------------------   -->

  <app-footer></app-footer>
</app-layout>
