@import 'src/app/styles/colors';
@import 'src/app/styles/font';
@import 'src/app/styles/variables';
.buttonContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.downloadBTN {
  background-color: #014f98;
  font-size: 24px;
  color: #ffffff;
  transition: all ease 0.4s;
}

.downloadButonIcon {
  color: #014f98;
  font-size: 3rem;
  cursor: pointer;
}

.backArrow {
  width: 100%;
  height: 40px;
  justify-content: flex-start;
  padding: 0 0 20px 0;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  ----- RESPONSIVE SECTION -----  ////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and(max-width: 1024px) {
.downloadButonIcon {
  color: #1c3262;
  font-size: 3rem;
  cursor: pointer;
}
}
@media only screen and(max-width: 768px) {
.downloadButonIcon {
  color: #1c3262;
  font-size: 3rem;
  cursor: pointer;
}
}
@media only screen and(max-width: 760px) {
.downloadButonIcon {
  color: #1c3262;
  font-size: 2.5rem;
  cursor: pointer;
}
}
@media only screen and(max-width: 620px) {
.downloadButonIcon {
  color: #1c3262;
  font-size: 2rem;
  cursor: pointer;
}
}
@media only screen and(max-width: 580px) {
  .downloadButonIcon {
    color: #1c3262;
    font-size: 2rem;
    cursor: pointer;
  }
}
@media only screen and(max-width: 420px) {
  .downloadButonIcon {
    color: #1c3262;
    font-size: 2rem;
    cursor: pointer;
  }
}
@media only screen and(max-width: 411px) {
  .downloadButonIcon {
    color: #1c3262;
    font-size: 2rem;
    cursor: pointer;
  }
}
@media only screen and(max-width: 380px) {
  .downloadButonIcon {
    color: #1c3262;
    font-size: 1.5rem;
    cursor: pointer;
  }
}
@media only screen and(max-width: 360px) {
  .downloadButonIcon {
    color: #1c3262;
    font-size: 1.5rem;
    cursor: pointer;
  }
}
@media only screen and(max-width: 320px) {
  .downloadButonIcon {
    color: #1c3262;
    font-size: 1.5rem;
    cursor: pointer;
  }
}
@media only screen and(max-width: 280px) {
  .downloadButonIcon {
    color: #1c3262;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

