//@import '~src/app/styles/colors';
//@import '~src/app/styles/font';
//@import '~src/app/styles/variables';
//
//.support-requests {
//  margin: 0 24px;
//  padding: 0;
//  background-color: transparent;
//  box-shadow: none;
//  //box-shadow: 0 3px 11px 0 $shadow-white, 0 3px 3px -2px $shadow-grey, 0 1px 8px 0 $shadow-dark-grey;
//  height: 70vh;
//
//  &__header {
//    color: $grey;
//    display: flex;
//    justify-content: space-between;
//    padding: 24px 24px 8px;
//    margin-bottom: 0;
//  }
//
//  &__title {
//    font-size: $fs-medium;
//    font-weight: $fw-lighter;
//    margin: 0;
//    line-height: 40px;
//  }
//
//  &__content {
//    height: 550px;
//    overflow-y: hidden;
//    overflow-x: scroll;
//
//    @media (max-width: $small) {
//      height: auto;
//    }
//  }
//
//  &__table {
//    width: 100%;
//  }
//
//  &__table-row {
//    height: 64px;
//  }
//
//  &__table-row-title {
//    color: $dark-grey;
//    font-size: $fs-small;
//    font-weight: $fw-lighter;
//    line-height: 24px;
//    text-transform: uppercase;
//    padding: 18.4px;
//  }
//
//  &__table-content {
//    color: $dark-grey;
//    font-size: $fs-small;
//    padding: 20px;
//  }
//
//  &__content-badge {
//    width: fit-content;
//    border-radius: 32px;
//    color: $white;
//    text-align: center;
//    padding: 5px 10px;
//    font-size: 13px;
//    box-sizing: border-box;
//    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
//    font-weight: $fw-lighter;
//    line-height: 1.75;
//    letter-spacing: 0.45px;
//
//    &::first-letter {
//      text-transform: uppercase;
//    }
//  }
//}
//
//mat-menu {
//  position: absolute;
//}
//.topData {
//  display: inline-flex;
//  width: 96%;
//  height: auto;
//  justify-content: center;
//  margin: 10px 2% 0;
//  font-size: 20px;
//  font-weight: bold;
//}
//
//.topData p {
//  margin: 0;
//}
//
//.main {
//  background-color: #014f983b;
//}
//
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////  ----- RESPONSIVE SECTION -----  ////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//@media only screen and(max-width: 1024px) {
//  .topData {
//    font-size: 36px;
//  }
//}
//@media only screen and(max-width: 768px) {
//  .topData {
//    font-size: 34px;
//  }
//
//}
//@media only screen and(max-width: 760px) {
//  .topData {
//    font-size: 18px;
//  }
//}
//@media only screen and(max-width: 620px) {
//  .topData {
//    font-size: 18px;
//  }
//}
//@media only screen and(max-width: 580px) {
//  .topData {
//    font-size: 18px;
//  }
//}
//@media only screen and(max-width: 420px) {
//  .topData {
//    font-size: 17px;
//  }
//}
//@media only screen and(max-width: 411px) {
//  .topData {
//    font-size: 17px;
//  }
//}
//@media only screen and(max-width: 380px) {
//  .topData {
//    font-size: 15px;
//  }
//}
//@media only screen and(max-width: 360px) {
//  .topData {
//    font-size: 14px;
//  }
//}
//@media only screen and(max-width: 320px) {
//  .topData {
//    font-size: 11px;
//  }
//}
//@media only screen and(max-width: 280px) {
//  .topData {
//    font-size: 12px;
//  }
//}
@import '~src/app/styles/colors';
@import '~src/app/styles/font';
@import '~src/app/styles/variables';

.support-requests {
  margin: 0 24px;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  //box-shadow: 0 3px 11px 0 $shadow-white, 0 3px 3px -2px $shadow-grey, 0 1px 8px 0 $shadow-dark-grey;
  height: 70vh;

  &__header {
    color: $grey;
    display: flex;
    justify-content: space-between;
    padding: 24px 24px 8px;
    margin-bottom: 0;
  }

  &__title {
    font-size: $fs-medium;
    font-weight: $fw-lighter;
    margin: 0;
    line-height: 40px;
  }

  &__content {
    height: 550px;
    overflow-y: hidden;
    overflow-x: scroll;

    @media (max-width: $small) {
      height: auto;
    }
  }

  &__table {
    width: 100%;
  }

  &__table-row {
    height: 64px;
  }

  &__table-row-title {
    color: $dark-grey;
    font-size: $fs-small;
    font-weight: $fw-lighter;
    line-height: 24px;
    text-transform: uppercase;
    padding: 18.4px;
  }

  &__table-content {
    color: $dark-grey;
    font-size: $fs-small;
    padding: 20px;
  }

  &__content-badge {
    width: fit-content;
    border-radius: 32px;
    color: $white;
    text-align: center;
    padding: 5px 10px;
    font-size: 13px;
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: $fw-lighter;
    line-height: 1.75;
    letter-spacing: 0.45px;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}

mat-menu {
  position: absolute;
}

.send {
  background-color: $green;
}

.pending {
  background-color: $yellow;
}

.declined {
  background-color: $pink;
}

.mainSection {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

.topData {
  display: inline-flex;
  width: 96%;
  height: auto;
  justify-content: space-between;
  margin: 10px 2% 0;
  font-size: 20px;
  font-weight: bold;
}

.infoSection {
  width: 90%;
  height: auto;
  margin: 10px 5% 0;
}

.infoGraph {
  width: 100%;
  height: auto;
  display: inline-flex;
  justify-content: space-between;
}

.textoInformativo-container {
  height: 150px;
  width: 100%;
  background-color: transparent;
  text-align: left;
  display: inline-flex;
  align-items: center;
  font-size: 20px;
}

.drawToInfo-container {
  height: 150px;
  width: 100%;
  background-color: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.drawToInfo-imgsConfig {
  width: 254px;
  height: 186px;
  background-size: contain;
  background-repeat: no-repeat;
}

.imgUrl1 {
  background-image: url("~src/assets/img/dashboardSVG1.svg");

}

.imgUrl2 {
  margin-top: 70px;
  background-image: url("~src/assets/img/hello.svg");
}

footer {
  width: 100%;
  height: 80px;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.bannerAhorra {
  width: 300px;
  height: 70px;
  //background-image: url("~src/assets/img/mejor-seguro.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.cont-logo{
  background-color:transparent;
  position:relative;
  width:35px;
  height:35px;
  overflow:hidden;
}
.cont-logo::after{
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  background: transparent;
  position: absolute;
  border-radius: 100%;
  box-shadow: 10px 10px 5px white,
  10px -10px 5px white,
  -10px 10px 5px  white,
  -10px -10px 5px  white;
  content: "";
}
.mask{
  background: white;
  flex-grow: 1;
}
.content,.links,.body,.header,.text-row,.img-cont,.space{
  display: flex;
}
.info{
  width:100px;
  height: auto;
  background: transparent;
}
.info .img{
  width:50px;
  height:50px;
  background: transparent;
  border-bottom: solid 5px white;
}
.info .img,.text-only{
  border-top: solid 5px white;
}
.text,.link{
  height: 15px;
  background: transparent;
  border-top:3px solid white;
  border-bottom:3px solid white;
}
.text{
  width:100%;
}
.medium{
  width: 60%;
}
.link{
  width:15px;
}
.nav {
  width: 200px;
}
.nav.links .link{
  height: 35px;
  width: 50px;
  border-top: solid 13px white;
  border-bottom: solid 13px white;
}
.space{
  height: 15px
}
.container{
  background: white;
  border: 1px solid #e5e6e9;
  border-radius: 5px;
  width: 450px;
  padding: 1rem;
  margin: 0 auto;
}
.bg{
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: preloadAnim;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  min-height: 100px;
}
@keyframes preloadAnim{
  0%{
    background-position: -769px 0
  }
  100%{
    background-position: 769px 0
  }
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  ----- RESPONSIVE SECTION -----  ////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and(max-width: 1024px) {
  .textoInformativo-container {
    font-size: 20px;
  }


  .bannerAhorra {
    width: 300px;
    height: 70px;
  }
}
@media only screen and(max-width: 768px) {
  .textoInformativo-container {
    font-size: 20px;
  }

  .topData {
    font-size: 20px;
  }

  .drawToInfo-imgsConfig {
    width: 130px;
    height: 130px;
  }

  .infoGraph {
    margin-top: 100px;
  }
  .bannerAhorra {
    width: 270px;
    height: 60px;
  }
}
@media only screen and(max-width: 760px) {
  .textoInformativo-container {
    font-size: 18px;
  }

  .topData {
    font-size: 18px;
  }

  .drawToInfo-imgsConfig {
    width: 220px;
    height: 246px;
  }

  .infoGraph {
    margin-top: 80px;
  }
  .bannerAhorra {
    width: 270px;
    height: 60px;
  }
}
@media only screen and(max-width: 620px) {
  .textoInformativo-container {
    font-size: 18px;
  }

  .topData {
    font-size: 18px;
  }

  .drawToInfo-imgsConfig {
    width: 187px;
    height: 175px;
  }

  .infoGraph {
    margin-top: 70px;
  }
  .bannerAhorra {
    width: 270px;
    height: 60px;
  }
}
@media only screen and(max-width: 580px) {
  .infoGraph {
    margin-top: 0;
    display: inline-block;
  }

  .drawToInfo-container:last-child {
    display: none;
  }

  .textoInformativo-container {
    font-size: 18px;
    height: auto;
  }

  .topData {
    font-size: 18px;
  }

  .drawToInfo-imgsConfig {
    width: 180px;
    height: 157px;
  }
  .bannerAhorra {
    width: 250px;
    height: 50px;
  }
  footer {
    height: 60px;
  }
}
@media only screen and(max-width: 420px) {
  .infoGraph {
    margin-top: 0;
    display: inline-block;
  }

  .drawToInfo-container:last-child {
    display: none;
  }

  .textoInformativo-container {
    font-size: 16px;
    height: auto;
  }

  .topData {
    font-size: 16px;
  }

  .drawToInfo-imgsConfig {
    width: 200px;
    height: 166px;
  }
  .bannerAhorra {
    width: 250px;
    height: 50px;
  }
  footer {
    height: 60px;
  }
}
@media only screen and(max-width: 411px) {
  .infoGraph {
    margin-top: 0;
    display: inline-block;
  }

  .drawToInfo-container:last-child {
    display: none;
  }

  .textoInformativo-container {
    font-size: 16px;
    height: auto;
  }

  .topData {
    font-size: 16px;
  }

  .drawToInfo-imgsConfig {
    width: 200px;
    height: 166px;
  }
  .bannerAhorra {
    width: 250px;
    height: 50px;
  }
  footer {
    height: 60px;
  }
}
@media only screen and(max-width: 380px) {
  .infoGraph {
    margin-top: 0;
    display: inline-block;
  }

  .drawToInfo-container:last-child {
    display: none;
  }

  .textoInformativo-container {
    font-size: 14px;
    height: auto;
  }

  .topData {
    font-size: 14px;
  }

  .drawToInfo-imgsConfig {
    width: 200px;
    height: 138px;
  }
  .bannerAhorra {
    width: 230px;
    height: 50px;
  }
  footer {
    height: 60px;
  }
}
@media only screen and(max-width: 360px) {
  .infoGraph {
    margin-top: 0;
    display: inline-block;
  }

  .drawToInfo-container:last-child {
    display: none;
  }

  .textoInformativo-container {
    font-size: 14px;
    height: auto;
  }

  .topData {
    font-size: 14px;
  }

  .drawToInfo-imgsConfig {
    width: 190px;
    height: 166px;
  }
  .bannerAhorra {
    width: 230px;
    height: 50px;
  }
  footer {
    height: 60px;
  }
}
@media only screen and(max-width: 320px) {
  .infoGraph {
    margin-top: 0;
    display: inline-block;
  }

  .drawToInfo-container:last-child {
    display: none;
  }

  .textoInformativo-container {
    font-size: 12px;
    height: auto;
  }

  .topData {
    font-size: 12px;
  }

  .drawToInfo-imgsConfig {
    width: 170px;
    height: 150px;
  }
  .bannerAhorra {
    width: 210px;
    height: 40px;
  }
  footer {
    height: 50px;
  }
}
@media only screen and(max-width: 280px) {
  .infoGraph {
    margin-top: 0;
    display: inline-block;
  }

  .drawToInfo-container:last-child {
    display: none;
  }

  .textoInformativo-container {
    font-size: 12px;
    height: auto;
  }

  .topData {
    font-size: 12px;
  }

  .drawToInfo-imgsConfig {
    width: 165px;
    height: 134px;
  }
  .bannerAhorra {
    width: 210px;
    height: 40px;
  }
  footer {
    height: 50px;
  }
}
