<!--<mat-card class="support-requests" id="tsparticles">-->
<!--  <mat-card class="main">-->
<!--    <div class="topData">-->
<!--      <p>Hola {{user + ' '}} {{saludo}}</p>-->
<!--    </div>-->

<!--      <pdf-viewer [src]="cartaDeBienvenida" style="height: 100%; overflow: scroll; margin-top: 170px"-->
<!--                  [autoresize]="true"-->
<!--                  [original-size]="false"-->
<!--      ></pdf-viewer>-->
<!--  </mat-card>-->

<!--</mat-card>-->
<mat-card class="support-requests">

  <section class="mainSection">
    <div>
      <div class="topData">
        <p>Hola {{user | titlecase}} {{' ' + saludo}}</p>
      </div>
      <section class="infoSection">
        <div class="infoGraph">
          <div class="textoInformativo-container">
            <p>
              Te recordamos que tenemos una app para ti
              la cual está disponible para iOS y para Android.
              <br>
              <br>
              Obtenla ahora y disfruta de
              los beneficios que Ahorra Seguros tiene para ti.
            </p>
          </div>

          <div class="drawToInfo-container">
            <div class="drawToInfo-imgsConfig imgUrl1">
            </div>
          </div>
        </div>

        <div class="infoGraph">
          <div class="drawToInfo-container">
            <div class="drawToInfo-imgsConfig imgUrl2">
            </div>
          </div>

          <div style="text-align: right;" class="textoInformativo-container">
            <p>
              Mientras tanto puedes continuar navegando y descubriendo los beneficios que tenemos para ti.
            </p>
          </div>
        </div>
      </section>
    </div>

  </section>
</mat-card>
