<mat-toolbar class="header">

  <div class="header__title">
    <div class="bannerAhorra" routerLink="{{routers.DASHBOARD}}" routerLinkActive="active"></div>
    <div class="buttons-wrapper" *ngIf="innerWidth >= 930">
      <div class="button-header" routerLink="{{routers.POLIZAS}}" routerLinkActive="active">
        <mat-icon>health_and_safety</mat-icon>
        <span class="tooltip-text">Mis Polizas</span>
      </div>
      <div class="button-header" routerLink="{{routers.SOLICITAR_MODIFICACIONES}}" routerLinkActive="active">
        <mat-icon>edit_note</mat-icon>
        <span class="tooltip-text">Modificar Poliza</span>
      </div>
      <div class="button-header" routerLink="{{routers.SOLICITUDES}}" routerLinkActive="active">
        <mat-icon>read_more</mat-icon>
        <span class="tooltip-text">Mis solicitudes</span>
      </div>
      <div class="button-header" routerLink="{{routers.IDENTIFICACION_OFICIAL}}" routerLinkActive="active">
        <mat-icon>fingerprint</mat-icon>
        <span class="tooltip-text">Identificación Oficial</span>
      </div>
      <div class="button-header" routerLink="{{routers.INSPECCION_VEHICULAR}}" routerLinkActive="active">
        <mat-icon>car_repair</mat-icon>
        <span class="tooltip-text">Inspección Vehícular</span>
      </div>
      <div class="button-header" routerLink="{{routers.EN_CASO_DE_SINIESTRO}}" routerLinkActive="active">
        <mat-icon>personal_injury</mat-icon>
        <span class="tooltip-text">Siniestros</span>
      </div>
      <div class="button-header" (click)="openMenu()">
        <mat-icon>contact_phone</mat-icon>
        <span class="tooltip-text">Atención a Clientes</span>
      </div>
    </div>
    <div class="submenu-icons" *ngIf="submenuweb && innerWidth>=930">
      <div class="button-header" routerLink="{{routers.INSTRUCCIONES_DE_PAGO}}" routerLinkActive="active">
        <mat-icon>price_check</mat-icon>
        <span class="tooltip-text">Instrucciones de Pago</span>
      </div>
      <div class="button-header" routerLink="{{routers.CATALOGO_DE_FACTURACION}}" routerLinkActive="active">
        <mat-icon>table_view</mat-icon>
        <span class="tooltip-text">Catalogo de Facturación</span>
      </div>
      <div class="button-header" routerLink="{{routers.CONDICIONES_GENERALES}}" routerLinkActive="active">
        <mat-icon>rule</mat-icon>
        <span class="tooltip-text">Condiciones Generales</span>
      </div>
      <div class="button-header" routerLink="{{routers.CANCELAR_UNA_POLIZA}}" routerLinkActive="active">
        <mat-icon>cancel</mat-icon>
        <span class="tooltip-text">Cancelar una Poliza</span>
      </div>
      <div class="button-header" routerLink="{{routers.ACLARACION_Y_SUGERENCIAS}}" routerLinkActive="active">
        <mat-icon>contact_support</mat-icon>
        <span class="tooltip-text">Aclaracion y Sugerencias</span>
      </div>
    </div>
  </div>

  <div class="header-toolbar">
<!--    <app-search></app-search>-->
<!--    <app-notifications></app-notifications>-->
<!--    <app-email [emails]="emails$ | async"></app-email>-->
    <app-user (signOut)="signOut()" [hidden]="innerWidth<930"></app-user>
    <button class="header__title-button" mat-mini-fab (click)="openMenu()" *ngIf="innerWidth<930">
      <mat-icon class="header__title-button-icon">menu</mat-icon>
    </button>
  </div>

</mat-toolbar>
