@import '~src/app/styles/colors';
@import '~src/app/styles/font';
@import '~src/app/styles/variables';

.submenu-icons{
  display: inline-flex;
  align-items: center;
  width: 300px;
  height: 100%;
  color: white;
  div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }
}
.buttons-wrapper{
  display: inline-flex;
  align-items: center;
  width: 350px;
  height: 100%;
  color: white;
  div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }
}
.tooltip-text{
  visibility: hidden;
  width: fit-content;
  background-color: #144f98c7;
  color: #f5eb2e;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  font-size: 12px;
  margin-top: 106px;
  padding: 0 5px 0 5px;
}
.button-header:not(.active){
  mat-icon{
    transition: 0.3s;
    transform: (0,0);
  }
}
.button-header:hover:not(.active){
  mat-icon{
    transition: 0.6s;
    transform: translate(0, -7px);
  }
}
.button-header.active{
  box-shadow: inset 0 -7px 0 #f5eb2e;
  background-color: #00000021;
  mat-icon{
    transform: translate(0, -7px);
  }
}
@keyframes opacity_up {
  0%{opacity: 0}
  100%{opacity: 1}
}
.button-header:hover:not(.active) .tooltip-text{
  visibility: visible;
  animation-name: opacity_up;
  animation-duration: 0.6s;
}
.tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #144f98c7 transparent;
}
.header {
  background-color: #014f98;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  height: $header-height;
  padding: 0;

  &__title {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__title-button {
    background-color: #014f98;
    box-shadow: none;
    margin-right: 15px;

    &:hover {
      background-color: $header-button-background-color-hover;
    }

    @media (max-width: $small) {
      margin-top: 0;
    }
  }

  &__title-button-icon {
    color: $header-button-font-color;
  }

  &__title-text {
    color: $header-title-font-color;
    margin-left: 32px;
    font-weight: $fw-lighter;

    @media (max-width: $small) {
      display: none;
    }
  }
}
.header-toolbar {
  display: flex;
  align-items: center;

  .unlock-button {
    border-color: $green;
    margin-right: 16px;
    text-transform: uppercase;
    background-color: $green;
    color: white;

    letter-spacing: .0892857143em;
    @media (max-width: $small) {
      display: none;
    }
  }
}
.bannerAhorra {
  transition: 0.3s;
  transform: scale(1.1);
  //background-image: url("~src/assets/ahorra.png");
  background-image: url("../../../../../assets/img/mejor-seguro.svg");
  width: 200px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  cursor: pointer;
}
.bannerAhorra:hover{
  transition: 0.5s;
  transform: scale(1.15);
}